.player-container {
    width: 800px;
    height: 600px;
    box-shadow: 0 0 30px rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
  }
  .video-container {
    display: flex;
    flex-grow: 1;
  }
  .control-buttons-panel {
    background-color: black;
    display: flex;
    align-items: center;
    flex-grow: 0;
  }
  .player-button {
    border-style: none;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-size: 20px;
    width: 35px;
    height: 35px;
   
  }
  .player-progress {
    background-color: grey;
    border-style: none;
    cursor: pointer;
    margin: 10px;
    height: 10px;
    border-radius: 3px;
    flex-grow: 1;
  }
  .player-progress-slider {
    background-color: white;
    height: 10px;
    border-radius: 3px;

  }
  .player-progress-bar{
    color: white;
    font-size: 16px;
    
  }
